.vscode/
images/processed/test.gif
clean_test.sh.bck
images/processed/1-cuda.gif
images/processed/Mandelbrot-large.gif
images/processed/porsche-cuda.gif
images/processed/Produits_sous_linux-cuda.gif
images/processed/stone.gif
logs_plots/filter_log.csv
.gitignore
images/processed/1.gif
images/processed/australian-flag-large-cuda.gif
logs_plots/filter_log.csv
